* {
    margin: 0;
    padding: 0;
    background: #2c2c2c;
    font-family:'Montserrat', sans-serif;
    color: aliceblue;
}

header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}

h1{
    font-size: 2em;
    margin:20px;
    line-height: 25px;

}

p{
font-size: 1.1em;
margin-left:20px;

}
form, .content{
    display: flex;
    justify-content:center;
    flex-direction: column;
    padding: 10px; 
}

textarea {
    margin: 10px;
    padding: 10px;
    min-width: 70%;
    border-radius: 5px;
    border: 2px solid rgb(129, 157, 175);
    overflow: hidden;
    font-size: 1.1em;
    color: rgb(255, 255, 255); 
}

.boton-container{
    text-align: center;
}

.boton-container button,
        .boton-container input[type="button"] {
            display: inline-block; 
            margin: 10px; 
            padding: 10px 20px; 
            font-size: 16px; 
            cursor: pointer; 
        }

.content button{
    background-color: #b8cbe0;
    color: rgb(44, 42, 42);
    margin: 10px; 
    padding: 10px 20px; 
    font-size: 16px; 
    width: 30vh;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.content button:hover{
    background-color: #292828;
    color: rgb(179, 206, 214);

}

.limpiar{
    background-color: #b8cbe0;
    color: rgb(61, 61, 61);
    padding: 10px;
    width: 30vh;
    border-radius: 5px;
    font-weight: bold;
    margin:10px;
    font-size: 1.2em;
    cursor: pointer;
}

.limpiar:hover{
    background-color: #292828;
    color:  rgb(252, 100, 100);
}